/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }

#main{
    text-align: center;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

  
/******************************************
/* LAYOUT
/*******************************************/
  
  
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
  