/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }

#main{
    text-align: center;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.radioQ{
  margin-left: 10px;
}

#main{
  height: 700px;
  border: 1px solid orange;
}

.subMain{
  display: flex;
  justify-content: center;
  border: 1px solid green;
  padding: 10px;
}

.dropSection{
  display: flex;
  margin: 10px;
  text-align: left;
}

.dropSection label{
  display: flex;
}

.subsub{
  border: 1px solid blue;
}

.answerBox{
  border: 1px solid purple;
  margin-top: 20px;
  height: 400px;
}

#answer{
  font-size: 2rem;
}

.hidden{
  display: none;
}

  
/******************************************
/* LAYOUT
/*******************************************/
  
  
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
  